body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-size: 25px;
    font-weight: bold;
}
p{
    font-size: 20px;
}
.name-highlight{
    color:rgb(255, 109, 56);
}
.penguin-half-width{
    width: 40%;
    margin-top: 10px;
    float: left;
}
.penguin-half-width img{
    width: 100%;
}
.shoe-icon{
    margin-left: 5%;
    margin-right: 5%;
}
.shoe-name{
    margin-left: 20px;
  
    margin-top: 120px;
    padding-left: 30px;
}
.section-1{
    height: 600px;
    background-color: rgb(204, 197, 191);
}
.shoe-img img{
    width: 150px;
}
.button{
    background-color: rgb(0, 0, 185);
    border-radius: 5px;
    color: white;
}
.shopping-img img{
    height: 100px;
    width: 100px;
}
.shop-img img{
    width: 600px;
    height: 300px;
}
.shop-half-width{
    width: 45%;
    margin-top: 10px;
    float: left;
}
.section-shop{
    height: 500px;
}
.shop-img{
    margin-top: 60px;
    padding-left: 20px;
}
.shop-items{
    padding-right: 20px;
}